<div class="global-container"  [ngBusy]="{busy: busyGet, message: 'Veuillez patienter ...', backdrop: false}">

    <div class="title-part">
        <b> Gestion des categories de livre </b>

        <button type="button" class="btn btn-new" (click)="openModal(templateCreateOrUpdate)">
            <i class="fa fa-plus"></i>&nbsp;&nbsp; Nouvelle categorie
        </button>
    </div>

    <div class="body-part">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="8" class="p-0">
                        <div class="search-part p-0 mb-2">
                            <input type="text" class="form-control" placeholder="Rechercher une categorie"  [(ngModel)]="itemToSearch.searchFull"  (keypress)="getItem()" />
                        </div>
                    </th>
                </tr>
                <tr class="table-heade-row">
                    <th>
                        <div class="first-th">  #
                        </div>
                    </th>
                    <th>libelle</th>
                    <th class="th-action">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of listItems; let indice = index">
                    <td>
                        <div class="first">
                            {{ indice + 1 }} <span *ngIf="item?.nb_essaie >= 3"> <i class="fa fa-lock"></i></span>
                        </div>
                    </td>
                    <td>{{ item?.libelle }}</td>
                   

                    <td class="td-action">
                        <div class="dropdown">
                            <button class="btn btn-actions dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item"  (click)="openModal(templateCreateOrUpdate,item)">Modifier</a></li>
                                <li><a class="dropdown-item"  (click)="confirmDeleteItem(item)">Supprimer</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr *ngIf="!listItems || listItems.length == 0">
                    <td colspan="5" style="text-align: center"> Aucune donnée disponible </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<ng-template #templateCreateOrUpdate>
    <div class="modal-header custom-modal-header">
        <h4 class="modal-title pull-left">
            <span> {{itemToSave?.id ? 'Modification' : 'Création'}} d'une categorie </span>
        </h4>
        <a class="pull-right" (click)="modalRefModal?.hide()">
            <i class="fa fa-times"></i>
        </a>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-user">
                <div class="col-12">
                    <label>libelle </label>
                    <input type="text" name="libelle" id="libelle" class="form-control" placeholder="libelle" autoComplete="off"  [(ngModel)]="itemToSave.libelle" />
                </div>

                <div class="div-primary-manager" id="btn-primary-manager">
                    <button type="button" class="fs-btn btn--primary" (click)="confirmSaveItem(itemToSave)">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>