<div class="row">
    <div class="form-user">
        <div class="col-12 mb-3">
            <label>Utilisateur </label>
            <input type="text" name="nom" id="nom" class="form-control" placeholder="Utilisateur" disabled autoComplete="off"  [(ngModel)]="itemToSave.identite" />
        </div>

        <div class="col-12 mb-3">
            <label> Ancien mot de passe ( <small> Mot de passe actuel </small> )</label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Ancien mot de passe"  [(ngModel)]="itemToSave.mot_passe"
                autoComplete="off" />
        </div>

        <div class="col-12 mb-3">
            <label>Nouveau mot de passe </label>
            <input type="password" name="email" id="email" class="form-control" placeholder="Nouveau mot de passe"  [(ngModel)]="itemToSave.new_mot_passe"
                autoComplete="off" />
        </div>

        <div class="col-12 mb-3">
            <label>Confirmer mot de passe </label>
            <input type="password" name="telephone" id="telephone" class="form-control" placeholder="Confirmer mot de passe"  [(ngModel)]="itemToSave.confirmPassword"
                autoComplete="off" />
        </div>

        <div class="col-12 alert-danger error-part mb-3" *ngIf="hasMotDePasseNonConforme">
            <small>* Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule et un chiffre </small>
       </div>

        <div class="div-primary-manager" id="btn-primary-manager">
            <button type="button" class="fs-btn btn--primary" (click)="confirmSaveItem()">
                Modifier
            </button>
        </div>
    </div>
</div>