@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*, body{
  font-family: 'Montserrat', sans-serif;
}
input,
select,
textarea {
    // background-color: var(--ion-color-light-tint) !important;
    // border-radius: 20px !important;
    resize: none;

    &.form-control {
        &:focus {
            // border-color: #bdbdbd;
            box-shadow: none;
        }

        &::placeholder {
            font-size: 12px;
            color: #9a9b9b;
        }
    } 
}

label {
  font-weight: bold;
  font-size: 12px;
}

.swal2-container.swal2-center>.swal2-popup {
    width: 300px !important;
      font-size: 12px !important;
  }
  
  .swal2-icon {
    margin: 1.5em auto -1.4em !important;
    width: 3em;
    height: 3em;
  }
  
  .swal2-icon .swal2-icon-content {
    font-size: 2.70em !important;
  }
  
  .swal2-styled.swal2-confirm,.swal2-styled.swal2-cancel {
    border-radius: 30px;
    padding: 5px 17px;
  }
  
  .swal2-popup.swal2-toast .swal2-icon {
    margin-top: -5px !important;
  }
  
  .modal-header {
    background-color: #cccccc !important;
  
    .modal-title {
      font-size: 1.2em !important;
      font-weight: bold;
    }
  }

*, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fs-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 12vw;
    border: none;
    border-radius: 8px;
    font-size: 0.9225rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &.btn--primary{
        background: linear-gradient(to right, #FFBB00, #EF7D00);
        color: #ffffff;
        transition: background 300ms ease-in-out;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background: linear-gradient(to left, #FFBB00, #EF7D00);
          transition: all .3s;
          z-index: -1;
        }
        &:hover {
          color: #fff;
          &:before {
            width: 100%;
          }
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
