:root{
    --primary-color: #1f2650;
    --primary-rgb-color: 31, 38, 80;
    --background-color: #222c61;
    --background-rgb-color: 34, 44, 97;
    --secondary-color: #30376b;
    --secondary-rgb-color: 48, 55, 107;
    --info-color: #3a99d7;
    --info-rgb-color: 58, 153, 215;
    --success-color: #297c11;
    --success-rgb-color: 41, 124, 17;
    --ligth-green-color: #54fb78;
    --green-color-cie: #5fc990;
    --ligth-green-rgb-color: 84, 251, 120;
    --rouge-color: #ff0036;
    --rouge-rgb-color: 255, 0, 54;
    --danger-color: #e6525f;
    --danger-rgb-color: 230, 82, 95;
    --orange-110-color: #d06e0b;
    --orange-110-rgb-color: 208, 110, 11;
    --orange-color: #f17e0b;
    --orange-rgb-color: 241, 126, 11;
    --warning-400-color: #ffd9a9;
    --warning-400-rgb-color: 255, 217, 169;
    --peace-color: #ffffff;
    --peace-rgb-color:255, 255, 255;
    --grey-color: #babec9;
    --grey-rgb-color: 186, 190, 201;
    --dark-color: #000000;
    --dark-rgb-color: 0, 0, 0;

    --ion-color-primary: #00695c;
    --ion-color-primary-rgb: 0, 105, 92;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #005c51;
    --ion-color-primary-tint: #1a786c;
    --ion-color-secondary: #f58220;
    --ion-color-secondary-rgb: 245, 130, 32;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d8721c;
    --ion-color-secondary-tint: #f68f36;
    --ion-color-tertiary: #ed614d;
    --ion-color-tertiary-rgb: 237, 97, 77;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #d15544;
    --ion-color-tertiary-tint: #ef715f;
    --ion-color-success: #28ba62;
    --ion-color-success-rgb: 40, 186, 98;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #23a456;
    --ion-color-success-tint: #3ec172;
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    --ion-color-infos: #3880ff;
    --ion-color-infos-rgb: 56,128,255;
    --ion-color-infos-contrast: #ffffff;
    --ion-color-infos-contrast-rgb: 255,255,255;
    --ion-color-infos-shade: #3171e0;
    --ion-color-infos-tint: #4c8dff;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    
    /* border */
    --ion-color-border: #ededed;
    --ion-color-border-rgb: 237, 237, 237;
    --ion-color-border-contrast: #000000;
    --ion-color-border-contrast-rgb: 0, 0, 0;
    --ion-color-border-shade: #d1d1d1;
    --ion-color-border-tint: #efefef;

    // Code couleur BIBLIO 
    --biblio-color-primary: #F78F1E; 
    --biblio-color-primary-rgb: 247, 143, 30;
    --biblio-color-secondary: #009640;
    --biblio-color-bg: #F5F2ED;
    --biblio-colog-bg-second: #e4e4e4;

   
    --biblio-color-bg-green : #e8f3ec;
    --biblio-color-bg-thead : #fff;
    --biblio-color-bg-filter : #eceffb; // #cfd5f5;
    --biblio-color-bg-filter-light :  #f3f5ff; 

    --fs-text-color: #6A6A6A;
    --fs-text-color: #6A6A6A;
    --fs-text-color: #6A6A6A;
    --fs-text-color: #6A6A6A;
    --fs-text-color: #6A6A6A;
    --fs-text-color: #6A6A6A;
}
